In [6]:
import pandas as pd

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html
df = pd.read_csv('data/vehicles/vehicles.csv')
display(df.head())
print(df.columns)
print(df.shape)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')
(35952, 15)

In [7]:
df.dtypes

Make                        object
Model                       object
Year                         int64
Engine Displacement        float64
Cylinders                  float64
Transmission                object
Drivetrain                  object
Vehicle Class               object
Fuel Type                   object
Fuel Barrels/Year          float64
City MPG                     int64
Highway MPG                  int64
Combined MPG                 int64
CO2 Emission Grams/Mile    float64
Fuel Cost/Year               int64
dtype: object

In [10]:
# Casting de toda la columna
df["Year"] = df["Year"].astype(int)

0        1984
1        1984
2        1985
3        1985
4        1987
5        1997
6        1997
7        1997
8        1998
9        1998
10       1998
11       1999
12       1999
13       1999
14       1995
15       1996
16       1996
17       1997
18       1997
19       1998
20       1998
21       2001
22       2002
23       2003
24       2003
25       1999
26       2000
27       2001
28       2002
29       2003
         ...
35922    1991
35923    1992
35924    1988
35925    1988
35926    1990
35927    1990
35928    1987
35929    1989
35930    1989
35931    1986
35932    2010
35933    2011
35934    2012
35935    2013
35936    2014
35937    2015
35938    2017
35939    2017
35940    2008
35941    2009
35942    2008
35943    2009
35944    2010
35945    2011
35946    2012
35947    2013
35948    2014
35949    2015
35950    2016
35951    2016
Name: Year, Length: 35952, dtype: int64

In [15]:
df = df.rename(columns={"Make": "Manufacturer"})

In [18]:
filtered = df[(df['Manufacturer']=='Ford') & (df['Cylinders']>=6) & (df['Combined MPG'] < 18)]

print(filtered.shape)
filtered.head()

(1450, 15)

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
11442,Ford,Aerostar Van,1986,2.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11450,Ford,Aerostar Van,1988,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11452,Ford,Aerostar Van,1989,3.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950
11456,Ford,Aerostar Van,1990,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950
11459,Ford,Aerostar Van,1991,4.0,6.0,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950

In [43]:
#df["Year"].value_counts().sort_values()
df["Year"].value_counts().sort_index()

1984     645
1985    1581
1986    1188
1987    1198
1988    1119
1989    1127
1990    1068
1991    1122
1992    1107
1993    1077
1994     967
1995     928
1996     767
1997     755
1998     791
1999     828
2000     827
2001     902
2002     961
2003    1034
2004    1113
2005    1156
2006    1099
2007    1126
2008    1184
2009    1183
2010    1108
2011    1124
2012    1139
2013    1168
2014    1211
2015    1264
2016    1228
2017     857
Name: Year, dtype: int64

In [60]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.cut.html?highlight=cut#pandas.cut
cutoffs = [7,14,21,23,30,40]
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']
bins = pd.cut(df['Combined MPG'],cutoffs, labels=mpg_labels)
df["consumo"] = bins

In [63]:
df["consumo"].value_counts()

Very Low     38
Low          37
Moderate      7
Very High     5
High          5
Name: consumo, dtype: int64

In [69]:
df.loc[df['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
df.loc[df['Transmission'].str.startswith('M'), 'TransType'] = 'Manual'

In [71]:
df["TransType"].value_counts()

Automatic    24290
Manual       11662
Name: TransType, dtype: int64

In [83]:
top_marcas = df.groupby('Manufacturer',as_index=False).agg({'Combined MPG':'mean',"Year":'min'})
#top_marcas.reset_index()
top_marcas[(top_marcas["Manufacturer"]=="Ford")| (top_marcas["Manufacturer"]=="Audi")]
#avg_mpg.columns = ['Make', 'Avg_MPG']

   Manufacturer  Combined MPG  Year
6          Audi     20.325843  1985
37         Ford     18.447726  1984

In [86]:
avg_mpg = df.groupby('Manufacturer', as_index=False).agg({'Combined MPG':'mean'})
avg_mpg.columns = ['Manufacturer', 'Avg_MPG']
display(avg_mpg)
df2 = pd.merge(df, avg_mpg, on='Manufacturer')
df2.head(10)

                           Manufacturer    Avg_MPG
0                            AM General  14.750000
1                      ASC Incorporated  16.000000
2                                 Acura  21.506623
3                            Alfa Romeo  19.512195
4           American Motors Corporation  17.681818
5                          Aston Martin  13.578947
6                                  Audi  20.325843
7                       Aurora Cars Ltd  15.000000
8                     Autokraft Limited  16.500000
9                                   BMW  20.032797
10                           BMW Alpina  15.666667
11                              Bentley  13.250000
12                              Bertone  22.000000
13        Bill Dovell Motor Car Company  17.000000
14               Bitter Gmbh and Co. Kg  15.666667
15                              Bugatti  10.000000
16                                Buick  20.880819
17                      CCC Engineering  15.000000
18                        CX Automotive  16.187500
19                             Cadillac  18.375984
20                            Chevrolet  18.508098
21                             Chrysler  20.120125
22             Consulier Industries Inc  21.000000
23           Dabryan Coach Builders Inc  16.333333
24                                Dacia  23.000000
25                               Daewoo  23.074627
26                             Daihatsu  29.647059
27                                Dodge  17.195339
28                   E. P. Dutton, Inc.  17.000000
29                                Eagle  21.987179
..                                  ...        ...
97                              Renault  25.393939
98                          Rolls-Royce  12.012500
99                    Roush Performance  14.660377
100                 Ruf Automobile Gmbh  13.000000
101  S and S Coach Company  E.p. Dutton  10.000000
102                                 SRT  15.000000
103                                Saab  20.212195
104                              Saleen  15.000000
105                  Saleen Performance  13.500000
106                              Saturn  24.061151
107                               Scion  27.216867
108                              Shelby  17.000000
109                              Spyker  15.307692
110                            Sterling  18.166667
111                              Subaru  22.293214
112    Superior Coaches Div E.p. Dutton  10.000000
113                              Suzuki  23.390625
114                 TVR Engineering Ltd  18.000000
115                         Tecstar, LP  13.000000
116                 Texas Coach Company  12.000000
117                              Toyota  21.800109
118                                 VPG  14.200000
119                              Vector   8.500000
120                 Vixen Motor Company  16.000000
121         Volga Associated Automobile  19.000000
122                          Volkswagen  24.093601
123                               Volvo  20.605300
124               Wallace Environmental  13.875000
125                                Yugo  25.000000
126                               smart  35.800000

[127 rows x 2 columns]

,Manufacturer,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,consumo,TransType,Avg_MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,NaN,Automatic,14.750000
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Automatic,14.750000
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,NaN,Automatic,14.750000
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,NaN,Automatic,14.750000
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,NaN,Automatic,16.000000
5,Acura,2.2CL/3.0CL,1997,2.2,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,NaN,Automatic,21.506623
6,Acura,2.2CL/3.0CL,1997,2.2,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,NaN,Manual,21.506623
7,Acura,2.2CL/3.0CL,1997,3.0,6.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,NaN,Automatic,21.506623
8,Acura,2.3CL/3.0CL,1998,2.3,4.0,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,NaN,Automatic,21.506623
9,Acura,2.3CL/3.0CL,1998,2.3,4.0,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,NaN,Manual,21.506623

In [90]:
melted = pd.melt(df, id_vars=['Year','Manufacturer','Model'], 
                 value_vars=['City MPG'])
melted.head(10)
print(melted)
print(melted.shape)

       Year           Manufacturer                Model  variable  value
0      1984             AM General    DJ Po Vehicle 2WD  City MPG     18
1      1984             AM General     FJ8c Post Office  City MPG     13
2      1985             AM General  Post Office DJ5 2WD  City MPG     16
3      1985             AM General  Post Office DJ8 2WD  City MPG     13
4      1987       ASC Incorporated                  GNX  City MPG     14
5      1997                  Acura          2.2CL/3.0CL  City MPG     20
6      1997                  Acura          2.2CL/3.0CL  City MPG     22
7      1997                  Acura          2.2CL/3.0CL  City MPG     18
8      1998                  Acura          2.3CL/3.0CL  City MPG     19
9      1998                  Acura          2.3CL/3.0CL  City MPG     21
10     1998                  Acura          2.3CL/3.0CL  City MPG     17
11     1999                  Acura          2.3CL/3.0CL  City MPG     20
12     1999                  Acura          2.3CL/3.0CL  City MPG     21
13     1999                  Acura          2.3CL/3.0CL  City MPG     17
14     1995                  Acura                2.5TL  City MPG     18
15     1996                  Acura          2.5TL/3.2TL  City MPG     18
16     1996                  Acura          2.5TL/3.2TL  City MPG     17
17     1997                  Acura          2.5TL/3.2TL  City MPG     18
18     1997                  Acura          2.5TL/3.2TL  City MPG     17
19     1998                  Acura          2.5TL/3.2TL  City MPG     17
20     1998                  Acura          2.5TL/3.2TL  City MPG     17
21     2001                  Acura                3.2CL  City MPG     17
22     2002                  Acura                3.2CL  City MPG     17
23     2003                  Acura                3.2CL  City MPG     17
24     2003                  Acura                3.2CL  City MPG     17
25     1999                  Acura                3.2TL  City MPG     17
26     2000                  Acura                3.2TL  City MPG     17
27     2001                  Acura                3.2TL  City MPG     17
28     2002                  Acura                3.2TL  City MPG     17
29     2003                  Acura                3.2TL  City MPG     17
...     ...                    ...                  ...       ...    ...
35922  1991  Wallace Environmental      Wetl Testarossa  City MPG      9
35923  1992  Wallace Environmental      Wetl Testarossa  City MPG      9
35924  1988                   Yugo                   GV  City MPG     24
35925  1988                   Yugo                   GV  City MPG     23
35926  1990                   Yugo    GV Plus/GV/Cabrio  City MPG     21
35927  1990                   Yugo    GV Plus/GV/Cabrio  City MPG     23
35928  1987                   Yugo               GV/GVX  City MPG     24
35929  1989                   Yugo               GV/GVX  City MPG     24
35930  1989                   Yugo               GV/GVX  City MPG     23
35931  1986                   Yugo          Gy/yugo GVX  City MPG     22
35932  2010                  smart     fortwo cabriolet  City MPG     33
35933  2011                  smart     fortwo cabriolet  City MPG     33
35934  2012                  smart     fortwo cabriolet  City MPG     34
35935  2013                  smart     fortwo cabriolet  City MPG     34
35936  2014                  smart     fortwo cabriolet  City MPG     34
35937  2015                  smart     fortwo cabriolet  City MPG     34
35938  2017                  smart     fortwo cabriolet  City MPG     33
35939  2017                  smart     fortwo cabriolet  City MPG     31
35940  2008                  smart   fortwo convertible  City MPG     33
35941  2009                  smart   fortwo convertible  City MPG     33
35942  2008                  smart         fortwo coupe  City MPG     33
35943  2009                  smart         fortwo coupe  City MPG     33
35944  2010                  smart         fortwo coupe  City MPG     33
35945  2011                  smart         fortwo coupe  City MPG     33
35946  2012                  smart         fortwo coupe  City MPG     34
35947  2013                  smart         fortwo coupe  City MPG     34
35948  2014                  smart         fortwo coupe  City MPG     34
35949  2015                  smart         fortwo coupe  City MPG     34
35950  2016                  smart         fortwo coupe  City MPG     34
35951  2016                  smart         fortwo coupe  City MPG     32

[35952 rows x 5 columns]
(35952, 5)